{% extends 'base.html' %}
{% load static blog_tags %}
{% block title %}
    <title>Sueed‘s Site &mdash; 无心风月 独钟自己</title>
{% endblock %}
{% block header %}
  <div class="Header-nav-inner">
    <a href="/home/{{ home.slug }}" class="Header-nav-item" data-test="template-nav">Home 主页</a>
      <a href="/album/{{ album.slug }}" class="Header-nav-item" data-test="template-nav">Album 图册</a>
      <a href="/article/{{ article.slug }}" class="Header-nav-item" data-test="template-nav">Article 文章</a>
      <a href="/about/{{ about.slug }}" class="Header-nav-item Header-nav-item--active" data-test="template-nav">About Me 关于我</a>
      <a href="/connect/{{ contact.slug }}" class="Header-nav-item" data-test="template-nav">Contact 联络</a>
  </div>
{% endblock %}
{% block parallax_host %}
<div class="Parallax-host-outer">
      <div class="Parallax-host" data-parallax-host="">

                  <div class="Parallax-item" data-parallax-item data-parallax-id="5beee9e94ae237319111a845" ></div>
      </div>
    </div>
{% endblock %}
{% block content %}

        <div class="Content-outer">
          

          <main class="Index" data-collection-id="5beeec62352f53d7e890edec" data-controller="IndexFirstSectionHeight, Parallax, IndexNavigation">
            
              <section id="about-the-artist" class="Index-page Index-page--has-image"  data-parallax-original-element data-collection-id="5beee9e94ae237319111a845" data-parallax-id="5beee9e94ae237319111a845" data-edit-main-image="Background">
        
          <div class="Index-page-scroll-indicator hidden" data-controller="ScrollIndicator">
            <div class="Index-page-scroll-indicator-text">Scroll</div>
            <svg class="Index-page-scroll-indicator-arrow Icon Icon--caretLarge--down" viewBox="0 0 48 23">
{#              <use xlink:href="/assets/ui-icons.svg#caret-down-large-icon"></use>#}
            </svg>
            <div class="Index-page-scroll-indicator-line"></div>
          </div>
        
        <div class="Index-page-content  sqs-alternate-block-style-container">
          <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1580453321434" id="page-5beee9e94ae237319111a845"><div class="row sqs-row"><div class="col sqs-col-12 span-12"><div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-875e0cd2a5ffe8ab3f24"><div class="sqs-block-content">

      <figure
          class="
            sqs-block-image-figure
            image-block-outer-wrapper
            image-block-v2
            design-layout-card
            combination-animation-none
            individual-animation-none
            individual-text-animation-none
            image-position-right
            
          "
          data-scrolled
          data-test="image-block-v2-outer-wrapper"
      >

        <div class="intrinsic">
          
            <div
          
              
              class="
                
                image-inset
                
                  content-fit
                
              "
              data-animation-role="image"
              data-description=""
              
  

          >
            <noscript>
                <img src="../media/album/20210425_092838.jpg" alt="" /></noscript>
                <img data-src="../media/album/20210425_092838.jpg" data-image-dimensions="1913x2147" data-image-focal-point="0.5,0.5" alt="IMG_6947.JPG"  />
            <div class="image-overlay"></div>
          
            </div>
          

        </div>

        
          
          <figcaption class="image-card-wrapper" data-width-ratio>
            <div class="image-card sqs-dynamic-text-container">

              
                <div class="image-title-wrapper"><div class="image-title sqs-dynamic-text"
                
  
><p class="">Sueed = 'Sue' + 'ed'</p></div></div>
              

              
                <div class="image-subtitle-wrapper"><div class="image-subtitle sqs-dynamic-text"
                
  
>
                    <p>Sue是我的英文名, ed代表过去式. 取名Sueed寓意在于警示自己现在都会成为过去, 凡是过往 皆为序章</p>
                    <p class="">我爱生活、爱书画、爱音乐、爱游戏、爱编程</p>
                <p>作为二次元腐宅, 博览群书, 阅片无数. 小说漫画广播剧动画游戏不限体裁, 中英日不限语种来者不拒.</p>
                    <p>可惜鄙人不才, 写不出跌宕起伏的情节、画不出清丽俊秀的靓仔, 不能自割腿肉自给自足_(:з」∠)_</p>
                </div></div>
              

              

            </div>
          </figcaption>
        

      </figure>

    

  


</div>
          </div>
              <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-yui_3_17_2_1_1542386272648_6124"><div class="sqs-block-content">
                  <hr />
              </div>
              </div>
              <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1542396484300_28408">
                  <div class="sqs-block-content">
                      <h2 style="text-align:center;white-space:pre-wrap;">我可以是假的,但他们一定是真的</h2>
                  </div>
              </div>
              <div class="row sqs-row">
                  <div class="col sqs-col-6 span-6">
                      <div class="sqs-block quote-block sqs-block-quote null" data-block-type="31" id="block-b197b06f9b6d97bb9eec">
                          <div class="sqs-block-content">

<figure class="block-animation-none">

  <figcaption class="source" style="font-size: larger">&mdash; 小说/漫画/动画源      </figcaption>
  <blockquote data-animation-role="quote"
  >
      <p style="font-size: medium"><strong>《将进酒》——策舟</strong> &nbsp; &nbsp;《默读》——舟渡 &nbsp; &nbsp; 《魔道祖师》——忘羡/曦瑶</p>
      <p style="font-size: medium">《破云》——严江 &nbsp; &nbsp;<strong>《咒术回战》——五夏</strong> &nbsp; &nbsp; <strong>《凹凸世界》——安雷 </strong></p>
      <p style="font-size: medium">《DRRR》——静临 &nbsp; &nbsp;<strong>《文豪野犬》——双黑 </strong>&nbsp; &nbsp; <strong>《Fate/strange Fake》——闪恩 </strong></p>
      <p style="font-size: medium">还有好多北极圈呆不久没什么印象了, 想起来了再补充(*^▽^*)</p>
  </blockquote>
    <figcaption class="source" style="font-size: larger">&mdash; 游戏源      </figcaption>
    <p style="font-size: medium">《DMC》——DV &nbsp; &nbsp;《Personal5》——主明 &nbsp; &nbsp; <strong>《原神》——羽枭/公钟</strong></p>
      <p style="font-size: medium"><strong>《阴阳师》——酒茨/修释</strong> &nbsp; &nbsp;《弹丸论破》——狛枝 &nbsp; &nbsp; 《FGO》——闪恩</p>
      <p style="font-size: medium">《守望先锋》——源氏 &nbsp; &nbsp;《崩坏三》——凯文 </p>
      <p style="font-size: medium">虽然有的游戏已经不玩了, 但CP还是香啊(*/ω＼*)</p>
</figure>
</div></div></div>
                  <div class="col sqs-col-6 span-6">
                      <div class="sqs-block quote-block sqs-block-quote null" data-block-type="31" id="block-yui_3_17_2_1_1542387105802_16664">
                          <div class="sqs-block-content">

<figure class="block-animation-none">

  <figcaption class="source" style="font-size: larger">&mdash; 声优单推      </figcaption>
  <blockquote data-animation-role="quote"
  >
      <p style="font-size: medium"><strong>姜广涛</strong> &nbsp; &nbsp;让我入广播剧的罪魁祸首, 姜sir永远の神, 光合梗王绝不献唱</p>
      <p style="font-size: medium"><strong>杨天翔</strong> &nbsp; &nbsp;小阿天你再撒娇我就快要离开这个世界了_(:з」∠)_</p>
      <p style="font-size: medium"><strong>路知行</strong> &nbsp; &nbsp;路知知本色出演老总受了我就没听你攻过← v ←</p>
      <p style="font-size: medium; text-decoration: line-through">日语声优就不写了这一页应该都放不下去</p>
    </blockquote>
    <figcaption class="source" style="font-size: larger">&mdash; 书籍影视      </figcaption>
    <p style="font-size: medium"><strong>东野圭吾系列</strong> &nbsp; &nbsp;有悬疑有探案有科学有社会人情碰撞的生活百绘</p>
    <p style="font-size: medium"><strong>《让子弹飞》</strong> &nbsp; &nbsp;传世神作, 都2021年了怎么还没有申遗</p>
    <p style="font-size: medium"><strong>《魔法少女小圆》系列</strong> &nbsp; &nbsp;爱的战士描绘的有关奇迹与魔法的故事</p>
      <p style="font-size: medium;">2021年4月25日官宣小圆有正统续作了啊——！[桌子HP]-10 -10</p>
</figure>
</div></div></div></div>
              <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-yui_3_17_2_1_1542396484300_18040"><div class="sqs-block-content"><hr /></div></div><div class="sqs-block spacer-block sqs-block-spacer" data-aspect-ratio="0.08333333333333333" data-block-type="21" id="block-yui_3_17_2_1_1542396484300_27180"><div class="sqs-block-content">&nbsp;</div></div><div class="sqs-block button-block sqs-block-button" data-block-type="53" id="block-yui_3_17_2_1_1542396484300_8249"><div class="sqs-block-content">

{#<div class="sqs-block-button-container--center" data-animation-role="button" data-alignment="center" data-button-size="medium">#}
{#	<a href="/paintings" class="sqs-block-button-element--medium sqs-block-button-element" >View Paintings</a>#}
{#</div>#}
</div></div></div></div></div>
        </div>
        
          
            <figure class="Index-page-image" data-parallax-image-wrapper>
              
  <img data-src="../static/picture/about-bckground.jpg" data-image="https://images.squarespace-cdn.com/content/v1/51544960e4b029068f717870/1542384796238-REV86O2GMSYZ1AYS8660/ke17ZwdGBToddI8pDm48kBEmbpWgEwy-yi1cKQUsHod7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0m_nwPNs2kYVhoOQZiVFxSYxOps34ga1_uxxnFtaUIi4EzRXDulK2y4y0952JkD83g/about-bckground.jpg" data-image-dimensions="2500x3008" data-image-focal-point="0.24,0.21" alt="about-bckground.jpg"  data-load="false" />

            </figure>
          
        
      </section>

              <nav class="Index-nav overlay">
<div class="Index-nav-inner">

    <a href="#about-the-artist" class="Index-nav-item active">
      <div class="Index-nav-indicator"></div>
      <div class="Index-nav-text"></div>
    </a>

</div>
</nav>

          </main>
        </div>
{% endblock %}
