{% extends 'base.html' %}
{% load static blog_tags %}
{% block title %}
      <title>Sueed‘s Site &mdash; 浮生若梦 为欢几何</title>
{% endblock %}
{% block content %}

        <div class="Content-outer">
          

          <main class="Main Main--blog-item" >
            
              <section class="Main-content" data-content-field="main-content">
                <article id="post-5b0cb67570a6addca9fae488" class="BlogItem hentry author-nissa-kauppila post-type-text has-comments" data-item-id="5b0cb67570a6addca9fae488">

    
      <h1 class="BlogItem-title" data-content-field="title">{{ article.title }}</h1>
    

    <div class="sqs-layout sqs-grid-12 columns-12" data-layout-label="Post Body" data-type="item" data-updated-on="1527560182577" id="item-5b0cb67570a6addca9fae488">
        <div class="row sqs-row">
            <div class="col sqs-col-12 span-12">
                <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-6cb9bb0edff06b7e2d6b">
                    <div class="sqs-block-content">
                        <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-yui_3_17_2_1_1542386272648_6124"><div class="sqs-block-content">
                  <hr />
              </div>
              </div>
                        <h2 style="text-align: left; white-space: pre-wrap;">Summary:</h2>
                        <p style="text-align: left; white-space: pre-wrap;">{{ article.summary }}</p>
                        <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-yui_3_17_2_1_1542386272648_6124"><div class="sqs-block-content">
                  <hr />
              </div>
              </div>
                        <p style="text-align: left; white-space: pre-wrap;">{{ article.body|linebreaksbr }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section id="comments-5b0cb67570a6addca9fae488" class="BlogItem-comments">
      
  <div class="squarespace-comments" id="comments-5b0cb67570a6addca9fae488" data-item-id="5b0cb67570a6addca9fae488" data-public-comment-count="0" data-comment-state="1"></div>


    </section>

  </article>





  <nav class="BlogItem-pagination clear">

    {% get_article_previous article.id as precious%}
      {% if precious %}
      <a href="/article/{{ precious.id }}" class="BlogItem-pagination-link BlogItem-pagination-link--prev">
        <svg class="BlogItem-pagination-link-icon" viewBox="0 0 23 48">
          <g class="svg-icon">
            <polyline fill="none" stroke-miterlimit="10" points="21.5,1.3 2.6,23.4 21.5,45.7 "></polyline>
          </g>
        </svg><!--
        --><div class="BlogItem-pagination-link-content">
          <div class="BlogItem-pagination-link-label">Previous</div>
          <h4 class="BlogItem-pagination-link-title">{{ precious.title }}</h4>
        </div>
      </a>
  {% endif %}
    

    {% get_article_next article.id as next%}
      {% if next %}
      <a href="/article/{{ next.id }}" class="BlogItem-pagination-link BlogItem-pagination-link--next">
        <div class="BlogItem-pagination-link-content">
          <div class="BlogItem-pagination-link-label">Next</div>
          <h4 class="BlogItem-pagination-link-title">{{ next.title }}</h4>

        </div><!--
        --><svg class="BlogItem-pagination-link-icon" viewBox="0 0 23 48">
          <g class="svg-icon">
            <polyline fill="none" stroke-miterlimit="10" points="1.5,45.7 20.4,23.5 1.5,1.3 "></polyline>
          </g>
        </svg>
      </a>
      {% endif %}
    

  </nav>
              </section>
            
          </main>
        </div>
{% endblock %}
